html,

:root {
    --main-title-color: #2E2F42;
    --main-text-color: #434455;
    --main-team-color: #F4F4FD;
    --logo-color: #4D5AE5;
    --banner-title-color: #FFFFFF;
    --banner-background-color: #2E2F42;
    --banner-btn-color: #FFFFFF;
    --footer-logo-color: #F4F4FD;
    --footer-text-color: #E7E9FC;
    --portfolio-btn-color: #4D5AE5;
    --portfolio-btn-background-color: #F4F4FD;
    --portfolio-btn-border-color: #E7E9FC;
    --hover-focus-color: #404BBF;
    --header-logo-font-family: 'Raleway', sans-serif;
    --header-logo-font-weight: 800;
    --font-weight: 500;
    --header-logo-font-size: 18px;
    --header-logo-line-height: 1.33;
    --header-logo-letter-spacing: 0.03em;
    --font-size: 16px;
    --font-size-title: 20px;
    --line-height: 1.5;
    --letter-spacing: 0.02em;
    --font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header {

}

.header-navigation {
    
}

.header-logo {
    font-family: var(--header-logo-font-family);
    font-weight: var(--header-logo-font-weight);
    font-size: var(--header-logo-font-size);
    line-height: var(--header-logo-line-height);
    letter-spacing: var(--header-logo-letter-spacing);
    color: var(--main-title-color);
    text-decoration: none;
    text-transform: uppercase;
}

.accent {
    color: var(--logo-color);
}

.header-list {
    list-style-type: none;
}

.header-item {
    
}

.header-link {
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    text-decoration: none;
    color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--hover-focus-color);
}

.header-address {
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    word-spacing: normal;
}

.header-address-item {
    list-style-type: none;
}

.header-address-link {
    font-weight: 400;
    font-style: var(--font-style);
    font-size: var(--font-size);
    line-height: 24px;
    text-decoration: none;
    color: var(--main-text-color);
}

.header-address-link:hover,
.header-address-link:focus {
    color: var(--hover-focus-color);
}

.banner {
    background: var(--banner-background-color);
}

.banner-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: var(--letter-spacing);
    color: var(--banner-title-color);
}

.banner-btn {
    font-family: 'Roboto';
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    background: var(--logo-color);
    border-radius: 4px;
    color: var(--banner-btn-color);
}

.banner-btn:hover,
.banner-btn:focus {
    background: var(--hover-focus-color);
}

.main-page {

}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.main-qualities {
    
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    text-transform: capitalize;
    color: var(--banner-background-color);
}

.main-list {
    list-style-type: none;
}

.main-item {

}

.main-subtitle {
    font-weight: 500;
    font-size: var(--font-size-title);
    line-height: 1.2;
    color: var(--main-title-color);
}

.main-text {
    line-height: var(--line-height);
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    color: var(--main-text-color);
}

.main-job {

}

.main-job-list {
    list-style-type: none;
}

.main-job-item {

}

.main-team {
    background: var(--main-team-color);
}

.main-team-list {
    list-style-type: none;
}

.main-team-item {

}

.footer {
    background: var(--main-title-color);
}

.footer-logo {
    font-family: var(--header-logo-font-family);
    font-weight: var(--header-logo-font-weight);
    font-size: var(--header-logo-font-size);
    line-height: var(--header-logo-line-height);
    letter-spacing: var(--header-logo-letter-spacing);
    color: var(--footer-logo-color);
    text-decoration: none;
    text-transform: uppercase;
}

.footer-text {
    color: var(--footer-text-color);
}

.portfolio {

}

.portfolio-page {

}

.portfolio-list {  
    list-style-type: none;
}

.portfolio-item {
    
}

.portfolio-btn {
    font-weight: 500;
    font-size: var(--font-size);
    line-height: var(--line-height);
    background: var(--portfolio-btn-background-color);
    border: 1px solid var(--portfolio-btn-border-color);
    border-radius: 4px;
    color: var(--portfolio-btn-color);
    letter-spacing: 0.04em;
}
.portfolio-btn:hover {
    background: var(--hover-focus-color);
    color: var(--banner-title-color);
    flex: none;
    cursor: pointer;
}

.projects-list {
    list-style-type: none;
}

.project-item {
    color: var(--banner-title-color);
}

.project-link {
    text-decoration: none;
}

.projects-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing);
    color: var(--main-title-color);
}

.projects-text {
    font-weight: 400;
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--main-text-color);
}